body {
  background-color: #fffbef;
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul > li {
  display: inline;
  padding: 5px;
}

#main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.code-box {
  outline: 1px solid #607d8b;
  height: 350px;
  margin: 5px;
  padding: 5px;
}

@media all and (max-width: 999px) {
  .code-container {
    width: 100%;
  }
}

@media all and (min-width: 1000px) {
  .code-container {
    width: 50%;
  }
}

#button-container {
  margin: 5px;
}

#response-area {
  background-color: #fdf6e3;
  color: #313e42;
  overflow: scroll;
}

#response-area.loading {
  background-color: #e8e8e8;
}

#response-area.success {
  background-color: #bbf5bb;
}

#response-area.error {
  background-color: white;
}
